<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<nav class="center" id="shoe">
				<%= link_to image_tag("BlackRidgehorseshoe.png"), '#' %>
			</nav>
		</div>
	</div>
</header>